.container
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#navbar-brand-centered", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand.navbar-brand-centered Infoset
  / Collect the nav links, forms, and other content for toggling
  #navbar-brand-centered.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Home" , root_path
     
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to "History" , tasks_history_index_path
      